.serviceDetails-description {
    color: #979797;
    line-height: 30px;
}

.review-container {

    /* background-color: #fdc933; */
    border-radius: 36px;
    filter: brightness(75%);

}

.serviceDetails-img {
    filter: brightness(75%);
}