.serviceDetails-description {
    color: #979797;
    line-height: 30px;
}

.serviceDetails-h {
    color: #f29f05;
}

.review-container {

    background-color: #fdc933;
    border-radius: 36px;
    filter: brightness(75%);

}